openapi: 3.0.0
servers:
  - url: https://api.waktusolat.app
    description: Default server
  - url: https://mpt-server.vercel.app/api
    description: Same server, but on Vercel domain
info:
  description: |
    # Introduction
    The Malaysia Waktu Solat API provides accurate prayer times (waktu solat) for various locations in Malaysia. It offers information on daily prayer timings, including Fajr, Dhuhr, Asr, Maghrib, and Isha, based on geographical coordinates and date.

     Developers can integrate this API into their applications, websites, or services to offer users convenient access to prayer timings, leveraging the authoritative data taken from JAKIM.

  version: 1.0.0
  title: Waktu Solat API
  contact:
    name: Malaysia Prayer Time
    email: mptwaktusolat@gmail.com
    url: https://waktusolat.app
  x-logo:
    url: "https://imgur.com/umII6oL.png"
    altText: MPT Server banner
  license:
    name: MIT License
    url: "https://opensource.org/license/mit/"
tags:
  - name: solat v2
    description: Prayer time information (version 2)
  - name: solat
    description: Prayer time information
  - name: zones
    description: Zones and location information
  - name: mosque
    description: Mosque banner images
  - name: Jadual Solat
    description: Downloadable Prayer timtable in PDF
x-tagGroups:
  - name: Prayer times
    tags:
      - solat
      - solat v2
      - zones
      - mosque
paths:
  /solat:
    get:
      tags:
        - solat
      summary: Prayer time for all zone
      deprecated: true
      description: Prayer time for all zone for current month
      operationId: getAllPrayerTime
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Solat"
  "/solat/{zone}":
    get:
      tags:
        - solat
      summary: Prayer time by zone
      description: Return a list of Solat information for the current month for the given zone
      operationId: getZonePrayerTime
      deprecated: true
      parameters:
        - name: zone
          in: path
          description: Zone code. See list of zones code [here](/locations).
          example: "sgr01"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Solat"
        "404":
          description: Solat not found
  "/solat/{zone}/{day}":
    get:
      tags:
        - solat
      summary: Prayer time by zone
      description: Return a list of Solat information for the current month in the given day for the given zone
      operationId: getZoneTodayPrayerTime
      deprecated: true
      parameters:
        - name: zone
          in: path
          description: Zone code. See list of zones code [here](/locations).
          example: "sgr01"
          required: true
          schema:
            type: string
        - name: day
          in: path
          description: Day
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Solat"
        "404":
          description: Solat not found. You may have provided zone code that doesn't exist or out of range day number
  "/v2/solat/{zone}":
    get:
      tags:
        - solat v2
      summary: Prayer time by zone
      description: Return a list of Solat information for the current month in the given day for the given zone.
      operationId: getPrayerTime
      parameters:
        - name: zone
          in: path
          description: Zone code. See list of zones code [here](/locations).
          example: "sgr01"
          required: true
          schema:
            type: string
        - name: year
          in: query
          description: "Year for prayer data. If empty, default to current year."
          example: "2024"
          schema:
            type: integer
        - name: month
          in: query
          description: "Month number (eg: `1` for January, `2` for February etc.). If empty, default to current month"
          example: "3"
          schema:
            type: integer
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SolatV2"
        "404":
          description: Data not found. Probably the solat data for the given month and year is not retrived yet. Please contact developer.
        "500":
          description: Error when parsing the parameter provided.
  /zones:
    get:
      tags:
        - zones
      summary: All zones
      description: Return all zones information
      operationId: getAllZones
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Zones"
        "500":
          description: Internal Server Error. An error occured while processing your request
  /zones/{zoneCode}:
    get:
      tags:
        - zones
      summary: Zones for the given state
      description: Return zones information for the given zone code only. It is like a filter.
      operationId: getFilteredZones
      parameters:
        - name: zoneCode
          in: path
          description: "Initial zone code. Eg: `prk`, `sgr` etc."
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Zones"
        "404":
          description: Provided zone code doesn't exist
        "500":
          description: Internal Server Error. An error occured while processing your request
  /zones/gps:
    get:
      tags:
        - zones
      summary: Get zone by GPS coordinate
      description: Return zone information for the given latitude and longitude
      operationId: getZonesbyGps
      parameters:
        - name: lat
          in: query
          description: "Latitude"
          example: "3.2485"
          required: true
          schema:
            type: number
        - name: long
          in: query
          description: "Longitude"
          example: "101.739"
          required: true
          schema:
            type: number
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SimpleZone"
        "400":
          description: Please supply all the required parameters
        "404":
          description: No zone code found for the supplied coordinate
        "500":
          description: Internal Server Error. An error occured while processing your request
  /mosque/{zoneCode}:
    get:
      tags:
        - mosque
      summary: Get mosque image for the given zone
      description: "Return an image URL for the given zone. For example: `sgr` (Selangor) will give you SHAS IIUM Mosque. List for all images are listed [here](/mosques)"
      operationId: getMosqueImage
      parameters:
        - name: zoneCode
          in: path
          description: "Initial zone code. Eg: `prk`, `sgr` etc."
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            image/*:
              schema:
                type: string
                format: binary
        "405":
          description: Invalid input
  /jadual_solat:
    get:
      tags:
        - Jadual Solat
      summary: Get monthly prayer timetable
      description: "Note: The request may take a little long time to process on the first call. Then, it will be cached on the CDN"
      operationId: getMosqueImage
      parameters:
        - name: zone
          in: query
          description: "Zone code. Eg: `SBH01`, `WLY02`"
          required: true
          example: 'PRK01'
          schema:
            type: string
        - name: year
          in: query
          description: "Year. If not defined, will use current year."
          required: true
          example: 2024
          schema:
            type: number
        - name: month
          in: query
          description: "Month (1 = Jan, 2 = Feb, etc.) If not defined, will use the current monnth"
          required: true
          schema:
            type: number
            example: 1
      responses:
        "200":
          description: successful operation
          content:
            application/pdf:
              schema:
                type: string
                format: binary

        "405":
          description: Invalid input
components:
  schemas:
    Solat:
      type: object
      properties:
        prayerTime:
          type: array
          items:
            type: object
            properties:
              hijri:
                type: string
                format: date
                description: Hijri date
                example: "1444-10-10"
              date:
                type: string
                format: string
                description: Gregorian date
                example: "01-May-2023"
              day:
                type: string
                description: Day of the week
                example: "Monday"
              imsak:
                type: string
                format: time
                description: Imsak time
                example: "05:44:00"
              fajr:
                type: string
                format: time
                description: Fajr time
                example: "05:54:00"
              syuruk:
                type: string
                format: time
                description: Syuruk time
                example: "07:02:00"
              dhuhr:
                type: string
                format: time
                description: Dhuhr time
                example: "13:13:00"
              asr:
                type: string
                format: time
                description: Asr time
                example: "16:31:00"
              maghrib:
                type: string
                format: time
                description: Maghrib time
                example: "19:20:00"
              isha:
                type: string
                format: time
                description: Isha time
                example: "20:31:00"
    SolatV2:
      type: object
      properties:
        zone:
          type: string
          example: SGR01
        year:
          type: integer
          example: 2024
        month:
          type: string
          description: Month name. All possible values - JAN | FEB | MAR | APR | MAY | JUN | JUL | AUG | SEP | OCT | NOV | DEC
          example: MAY
        last_updated:
          type: string
          format: date-time
          example: "2023-05-18T18:48:11.892Z"
        prayers:
          type: array
          items:
            type: object
            properties:
              hijri:
                type: string
                format: date
                description: Hijri date
                example: "1444-10-10"
              day:
                type: integer
                description: Day number for the month
                example: 2
              fajr:
                type: integer
                format: date-time
                description: Epoch timestamp in seconds
                example: 1682940000
              syuruk:
                type: integer
                format: date-time
                description: Epoch timestamp in seconds
                example: 1682895720
              dhuhr:
                type: integer
                format: date-time
                description: Epoch timestamp in seconds
                example: 1682917980
              asr:
                type: integer
                format: date-time
                description: Epoch timestamp in seconds
                example: 1682891640
              maghrib:
                type: integer
                format: date-time
                description: Epoch timestamp in seconds
                example: 1682944260
              isha:
                type: integer
                format: date-time
                description: Epoch timestamp in seconds
                example: 1682929860
    Zones:
      type: array
      items:
        type: object
        properties:
          jakimCode:
            type: string
            description: Jakim code
            example: "KDH01"
          negeri:
            type: string
            description: State
            example: "Kedah"
          daerah:
            type: string
            description: District
            example: "Kota Setar, Kubang Pasu, Pokok Sena"
    SimpleZone:
      type: object
      properties:
        state:
          type: string
          description: Negeri
          example: "SGR"
        district:
          type: string
          description: State
          example: "Gombak"
        zone:
          type: string
          description: Prayer time zone
          example: "SGR01"
